{include file="public/header" /}
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <!-- Panel Other -->
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>项目详情</h5>
        </div>
        <div class="ibox-content">

            <div class="hr-line-dashed"></div>
            <div class="example-wrap">
                <div class="example">
                    <table class="table table-bordered table-hover">
                        <thead>
                        <tr class="long-tr">
                            <th width="3%">项目ID</th>
                            <th width="5%">项目名称</th>
                            <th width="15%">项目封面图</th>
                            <th width="15%">项目轮播图</th>
                            <th width="4%">服务时长</th>
                            <th width="5%">项目分类名称</th>
                            <th width="4%">销售价</th>
                            <th width="4%">体验价</th>
                            <th width="4%">划线价</th>
                            <th width="4%">体验价开关</th>
                            <th width="4%">项目详情</th>
                            <th width="4%">项目状态</th>
                            <th width="10%">创建时间</th>
                        </tr>
                        </thead>
                        <tr class="long-td">
                            <td>{$id}</td>
                            <td>{$list['item_name']}</td>
                            <td><a href="{$list['item_img']}" target='_blank'><img src="{$list['item_img']}" alt="" width="20%" ></a></td>
                            <td>
                                {if $list['item_wheplan_img']}
                                {foreach $list['item_wheplan_img'] as $v}
                                <a href="{$v}" target='_blank'><img src="{$v}" alt="" width="20%"></a>
                                {/foreach}
                                {/if}
                            </td>
                            <td>{$list['duration']}</td>
                            <td>{$list['cate_name']}</td>
                            <td>{$list['item_price']}</td>
                            <td>{$list['experience_price']}</td>
                            <td>{$list['line_price']}</td>
                            <td>{$list['experience_price_flag']}</td>
                            <td><textarea name="" id="" cols="20" rows="7">{$list['item_detail']}</textarea></td>
                            <td>{$list['status']}</td>
                            <td>{$list['create_time']}</td>
                        </tr>
                        <tbody id="list-content"></tbody>
                    </table>
                    <div id="AjaxPage" style="text-align:right;"></div>
                    <div style="text-align: right;">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{include file="public/footer" /}

</body>
</html>