{include file="public/header" /}
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <!-- Panel Other -->
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>拼人品订单统计</h5>
        </div>
        <div class="ibox-content">
            <!--搜索框开始-->
            <div class="row">
                <div class="col-sm-12">
                    <form name="admin_list_sea" class="form-search form-inline" method="post" action="{:url('statistics')}">
                        <div class="col-sm-12">
                            <div class="input-group" style="margin-top: -5px;">
                                <select class="form-control m-b chosen-select" name="id_department" id="id_department" style="width: 150px;">
                                    <option value="" >办事处</option>
                                    {volist name="depart" id="vo"}
                                    <option value="{$vo.id_department}"
                                            {if condition="$id_department eq $vo['id_department']"}selected{/if} >{$vo.st_department}</option>
                                    {/volist}
                                </select>
                            </div>
                            <div class="input-group" style="margin-top: -5px;">
                                <select class="form-control m-b chosen-select" name="type" id="type" style="width: 150px;">
                                    <option value="1" {if condition="$type eq 1"}selected{/if}>已完成</option>
                                    <option value="2" {if condition="$type eq 2"}selected{/if}>进行中</option>
                                    <option value="3" {if condition="$type eq 3"}selected{/if}>已失效</option>
                                </select>
                            </div>
                            <div class="input-group" style="margin-bottom: 5px;">
                                <input type="text" name="start" id="start" onclick="laydate()" value="{$start}" autocomplete="off"  class="form-control layer-date" placeholder="订单开始日期"/>
                            </div>
                            <div class="input-group" style="margin-bottom: 5px;">
                                <input type="text" name="end" id="end" onclick="laydate()" value="{$end}" autocomplete="off" class="form-control layer-date" placeholder="订单结束日期"/>
                            </div>
                            <div class="input-group">
                                <input type="text" id="key" class="form-control" name="key" value="{$val}"
                                       placeholder="输入需查询的门店名" />
                                <span class="input-group-btn">
                                    <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i> 搜索</button>
                                </span>&nbsp;&nbsp;
                                <span class="input-group-btn">
                                    <div class="btn-group">
                                       <a href="{:url('exportStat',['key'=>$val,'start'=>$start,'end'=>$end])}"
                                          class="btn btn-primary dropdown-toggle"><i class="fa fa-download"></i> 导出</a>
                                    </div>
                                </span>&nbsp;&nbsp;
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="panel">
                <div class="panel-heading">
                    已成交：<span style="color: #1ab394;">{$paydeal}</span> 元，进行中：<span style="color: #ed5565;">{$nodeal}</span> 元
                </div>
            </div>
            <!--搜索框结束-->
            <div class="hr-line-dashed"></div>

            <div class="example-wrap">
                <div class="example">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr class="long-tr">
                                <th>市场</th>
                                <th>门店名称</th>
                                <th>门店编号</th>
                                <th>销售金额</th>
                                <th>数量</th>
                                <th>购买人数</th>
                                <th>订单数</th>
                            </tr>
                        </thead>
                        <script id="list-template" type="text/html">
                            {{# for(var i=0;i<d.length;i++){  }}
                                <tr class="long-td">
                                    <td>{{d[i].st_department}}</td>
                                    <td>{{d[i].title}}</td>
                                    <td>{{d[i].sign}}</td>
                                    <td>{{d[i].pay_price}}</td>
                                    <td>{{d[i].num}}</td>
                                    <td>{{d[i].user_number}}</td>
                                    <td>{{d[i].order_number}}</td>
                                </tr>
                            {{# } }}
                        </script>
                        <tbody id="list-content"></tbody>
                    </table>
                    <div id="AjaxPage" style=" text-align: right;"></div>
                    <div id="allpage" style=" text-align: right;"></div>
                </div>
            </div>
            <!-- End Example Pagination -->
        </div>
    </div>
</div>
<!-- End Panel Other -->
</div>

<!-- 加载动画 -->
<div class="spiner-example">
    <div class="sk-spinner sk-spinner-three-bounce">
        <div class="sk-bounce1"></div>
        <div class="sk-bounce2"></div>
        <div class="sk-bounce3"></div>
    </div>
</div>
{include file="public/footer" /}

<script type="text/javascript">
    //laypage分页
    Ajaxpage();
    function Ajaxpage(curr){
        var key=$('#key').val();
        var type=$('#type').val();
        var start=$('#start').val();
        var end=$('#end').val();
        var id_department=$('#id_department').val();
        $.getJSON('{:url("statistics")}', {page: curr || 1,key:key,type:type,start:start,end:end,id_department:id_department}, function(data){
            $(".spiner-example").css('display','none'); //数据加载完关闭动画
            if(data==''){
                $("#list-content").html('<td colspan="20" style="padding-top:10px;padding-bottom:10px;font-size:16px;text-align:center">暂无数据</td>');
            }else{
                var tpl = document.getElementById('list-template').innerHTML;
                laytpl(tpl).render(data, function(html){
                    document.getElementById('list-content').innerHTML = html;
                });
                laypage({
                    cont: $('#AjaxPage'),//容器。值支持id名、原生dom对象，jquery对象,
                    pages:'{$allpage}',//总页数
                    skip: true,//是否开启跳页
                    skin: '#1AB5B7',//分页组件颜色
                    curr: curr || 1,
                    groups: 3,//连续显示分页数
                    jump: function(obj, first){
                        if(!first){
                            Ajaxpage(obj.curr)
                        }
                        $('#allpage').html('第'+ obj.curr +'页，共'+ obj.pages +'页');
                    }
                });
            }
        });
    }


    //分期奖品
    function fenqi(id){
        location.href = './fenqi/id/'+id+'.html';
    }

    //编辑奖品
    function edit(id){
        location.href = './edit/id/'+id+'.html';
    }

    //删除奖品
    function del(id){
        lunhui.confirm(id,'{:url('del')}');
    }

    //奖品状态
    function state(id){
        lunhui.status(id,'{:url('state')}');
    }

</script>
</body>
</html>
