{include file="public/header" /}
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>38女王节活动管理&nbsp;&nbsp;<a href="{:url('activity_branch')}">参与门店管理</a></h5>
                </div>
                <div class="ibox-content">
                    <form class="form-horizontal m-t" name="add" id="add" method="post" action="config">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">38活动开关：</label>
                            <div class="input-group col-sm-4">
                                <div class="radio i-checks">
                                <input type="radio" name='activity_status' value="0" {if condition="$yearConfig['activity_status'] eq 0 "}checked{/if}/>关闭&nbsp;&nbsp;
                                <input type="radio" name='activity_status' value="1" {if condition="$yearConfig['activity_status'] eq 1 "}checked{/if}/>开启
                                </div>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">门店默认开关：</label>
                            <div class="input-group col-sm-4">
                                <div class="radio i-checks">
                                <input type="radio" name='boos_status' value="0" {if condition="$yearConfig['boos_status'] eq 0 "}checked{/if}/>默认关闭&nbsp;&nbsp;
                                <input type="radio" name='boos_status' value="1" {if condition="$yearConfig['boos_status'] eq 1 "}checked{/if}/>默认开启
                                </div>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">活动开始时间：</label>
                            <div class="col-sm-6" style="padding-left: 0px;">
                                <input type="text" name="begin_time" id="begin_time"  autocomplete="off" onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})" value="{$yearConfig['begin_time']}"  class="form-control" placeholder="选择修改日期"/>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">活动结束时间：</label>
                            <div class="col-sm-6" style="padding-left: 0px;">
                                <input type="text" name="end_time" id="end_time"  autocomplete="off" onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})" value="{$yearConfig['end_time']}"  class="form-control" placeholder="选择修改日期"/>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">订单失效秒数：</label>
                            <div class="col-sm-6" style="padding-left: 0px;">
                                <input type="text" name="pay_aead_time" id="pay_aead_time"  autocomplete="off"  value="{$yearConfig['pay_aead_time']}"  class="form-control" placeholder="订单时间时间(秒)"/>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">基础支付金额：</label>
                            <div class="input-group col-sm-4">
                                <input id="price" type="number" class="form-control" name="price" step="0.01" value="{$yearConfig['price']}">
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">升级支付金额：</label>
                            <div class="input-group col-sm-4">
                                <input id="price1" type="number" class="form-control" name="price1" step="0.01" value="{$yearConfig['price1']}">
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-3">
                                <button class="btn btn-primary" type="submit"><i class="fa fa-save"></i> 确定</button>&nbsp;&nbsp;&nbsp;
                                <a class="btn btn-danger" href="javascript:history.go(-1);"><i class="fa fa-close"></i> 返回</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{include file="public/footer" /}
<script type="text/javascript">

    $(function(){
        $('#add').ajaxForm({
            beforeSubmit: checkForm, // 此方法主要是提交前执行的方法，根据需要设置
            success: complete, // 这是提交后的方法
            dataType: 'json'
        });

        function checkForm(){
            if( '' == $.trim($('#begin_time').val())){
                layer.msg('开始时间不能为空', {icon: 5}, function(index){
                    layer.close(index);
                });
                return false;
            }
            if( '' == $.trim($('#end_time').val())){
                layer.msg('结束时间不能为空', {icon: 5}, function(index){
                    layer.close(index);
                });
                return false;
            }

     }

        function complete(data){
            if(data.code == 1){
                layer.msg(data.msg, {icon: 6,time:1500,shade: 0.1}, function(index){
                    layer.close(index);
                    window.location.href="{:url('config')}";
                });
            }else{
                layer.msg(data.msg, {icon: 5,time:1500,shade: 0.1}, function(index){
                    layer.close(index);
                });
                return false;
            }
        }

    });


    //IOS开关样式配置
   var elem = document.querySelector('.js-switch');
        var switchery = new Switchery(elem, {
            color: '#1AB394'
        });
    var config = {
        '.chosen-select': {},
    }
    for (var selector in config) {
        $(selector).chosen(config[selector]);
    }


</script>
</body>
</html>
