{include file="public/header" /}
<link rel="stylesheet" type="text/css" href="/static/admin/webupload/webuploader.css">
<link rel="stylesheet" type="text/css" href="/static/admin/webupload/style.css">
<style>
    .file-item{float: left; position: relative; width: 110px;height: 110px; margin: 0 20px 20px 0; padding: 4px;}
    .file-item .info{overflow: hidden;}
    .uploader-list{width: 100%; overflow: hidden;}
</style>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>编辑抽奖场景信息</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="form_basic.html#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <form class="form-horizontal" name="sceneEdit" id="sceneEdit" method="post" action="{:url('sceneEdit')}">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">抽奖场景：</label>
                            <div class="input-group col-sm-4">
                                <input id="scene_name" type="text" class="form-control" name="scene_name" value="{$info.scene_name}">
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">场景前缀：</label>
                            <div class="input-group col-sm-4">
                                <input id="scene_prefix" type="text" class="form-control" name="scene_prefix" value="{$info.scene_prefix}" readonly>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">当前抽奖：</label>
                            <div class="col-sm-6">
                                <div class="radio i-checks">
                                    <input type="radio" name='scene_check' value="0" {if condition="$info['scene_check'] eq 0 "}checked{/if}/> 不抽&nbsp;&nbsp;
                                    <input type="radio" name='scene_check' value="1" {if condition="$info['scene_check'] eq 1 "}checked{/if}/> 抽奖
                                </div>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">是否参与抽奖：</label>
                            <div class="col-sm-6">
                                <div class="radio i-checks">
                                    <input type="radio" name='join_draw' value="0" {if condition="$info['join_draw'] eq 0 "}checked{/if}/> 否&nbsp;&nbsp;
                                    <input type="radio" name='join_draw' value="1" {if condition="$info['join_draw'] eq 1 "}checked{/if}/> 是
                                </div>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">门店保底人数：</label>
                            <div class="input-group col-sm-4">
                                <input id="branch_num" type="number" class="form-control" name="branch_num" value="{$info.branch_num}">
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">奖券状态：</label>
                            <div class="col-sm-6">
                                <div class="checkbox i-checks">
                                    <input type="checkbox" name='ticket_type[]' value="0" {in name="0" value="$info.ticket_type"}checked{/in}/>未激活&nbsp;&nbsp;
                                    <input type="checkbox" name='ticket_type[]' value="1" {in name="1" value="$info.ticket_type"}checked{/in}/>未使用&nbsp;&nbsp;
                                    <input type="checkbox" name='ticket_type[]' value="2" {in name="2" value="$info.ticket_type"}checked{/in}/>已使用&nbsp;&nbsp;
                                </div>
                            </div>
                        </div>
                        <div id="image0" >
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">卡券未激活：</label>
                                <div class="input-group col-sm-4">
                                    <div class="up">
                                        <input type="hidden" id="data_photo0" name="image0" value="{$info.image0}">
                                        <input type="hidden" id="data_photo_num0" value="0">
                                        <div id="fileList0" class="uploader-list" style="float:right"></div>
                                        <div id="imgPicker0" style="float:left">选择图片</div>
                                        <img id="img_data0" class="" height="55px"  style="float:left;margin-left: 50px;margin-top: -10px;" src="{$info.image0}"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="image1" >
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">卡券未使用：</label>
                                <div class="input-group col-sm-4">
                                    <div class="up">
                                        <input type="hidden" id="data_photo1" name="image1" value="{$info.image1}">
                                        <input type="hidden" id="data_photo_num1" value="0">
                                        <div id="fileList1" class="uploader-list" style="float:right"></div>
                                        <div id="imgPicker1" style="float:left">选择图片</div>
                                        <img id="img_data1" class="" height="55px"  style="float:left;margin-left: 50px;margin-top: -10px;" src="{$info.image1}"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="image2" >
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">卡券已使用：</label>
                                <div class="input-group col-sm-4">
                                    <div class="up">
                                        <input type="hidden" id="data_photo2" name="image2" value="{$info.image2}">
                                        <input type="hidden" id="data_photo_num2" value="0">
                                        <div id="fileList2" class="uploader-list" style="float:right"></div>
                                        <div id="imgPicker2" style="float:left">选择图片</div>
                                        <img id="img_data2" class="" height="55px"  style="float:left;margin-left: 50px;margin-top: -10px;" src="{$info.image2}"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="image3" >
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">卡券已使用：</label>
                                <div class="input-group col-sm-4">
                                    <div class="up">
                                        <input type="hidden" id="data_photo3" name="image3" value="{$info.image3}">
                                        <input type="hidden" id="data_photo_num3" value="0">
                                        <div id="fileList3" class="uploader-list" style="float:right"></div>
                                        <div id="imgPicker3" style="float:left">选择图片</div>
                                        <img id="img_data3" class="" height="55px"  style="float:left;margin-left: 50px;margin-top: -10px;" src="{$info.image3}"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-3">
                                <input id="id" type="hidden" class="form-control" name="id" value="{$info.id}">
                                <button class="btn btn-primary" type="submit"><i class="fa fa-save"></i> 保存</button>&nbsp;&nbsp;&nbsp;
                                <a class="btn btn-danger" href="javascript:history.go(-1);"><i class="fa fa-close"></i> 返回</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
{include file="public/footer" /}
<script type="text/javascript" src="/static/admin/webupload/webuploader.min.js"></script>

<script type="text/javascript">

    uploaderArr = new Array();
    $('.up').each(function(index){
        // console.log(index);
        var $list = $('#fileList'+index);
        var $list_num=$('#data_photo_num'+index).val();
        //上传图片,初始化WebUploader
        uploaderArr[index] = WebUploader.create({
            auto: true,// 选完文件后，是否自动上传。
            swf: '/static/admin/webupload/Uploader.swf',// swf文件路径
            server: "{:url('Upload/upload')}",// 文件接收服务端。
            duplicate: true,// 重复上传图片，true为可重复false为不可重复
            pick: '#imgPicker'+index,// 选择文件的按钮。可选。

            accept: {
                title: 'Images',
                extensions: 'gif,jpg,jpeg,bmp,png',
                mimeTypes: 'image/jpg,image/jpeg,image/png'
            },
            'onUploadSuccess': function (file, data, response) {
                if(data.status){
                    if($list_num==0){
                        $("#data_photo"+index).val(data.data);
                        $("#img_data"+index).attr('src',data.data).show();
                    }else{
                        var $li = $(
                            '<div id="' + file.id + '" class="item" style="float: left;margin-right: 15px;position: relative">' +
                            '<img src="'+data.data+'" width="100">' +
                            '<a class="file-panel" href="javascript:;" style="position: absolute;right: 0" onclick="remove(\''+file.id+'\')">'+
                            '<span class="fa fa-close" style="list-style: none"></span>' +
                            '</a>' +
                            '<input type="hidden"  name="images[]" value="'+data.data+'">' +
                            '</div>'
                        );
                        // // $lists为容器jQuery实例
                        $("#img_data"+index).hide();
                        $list.append( $li );
                    }
                }else{
                    alert(data.message);
                }
            }
        });

        uploaderArr[index].on('fileQueued', function (file) {
            // $list.html('<div id="' + file.id + '" class="item">' +
            //     // '<h4 class="info">' + file.name + '</h4>' +
            //     '<p class="state">正在上传...</p>' +
            //     '</div>');
        });

        // 文件上传成功
        uploaderArr[index].on('uploadSuccess', function (file) {
            $('#' + file.id).find('p.state').text('');
        });

        // 文件上传失败，显示上传出错。
        uploaderArr[index].on('uploadError', function (file) {
            $('#' + file.id).find('p.state').text('上传出错!');
        });
    });

    function remove(obj){
        $('#'+obj).remove();
    }


</script>
<script type="text/javascript">


    $(function(){
        $('#sceneEdit').ajaxForm({
            beforeSubmit: checkForm, 
            success: complete, 
            dataType: 'json'
        });

        function checkForm(){
            if( '' == $.trim($('#scene_name').val())){
                layer.msg('请输入抽奖场景名称',{icon:2,time:1500,shade: 0.1}, function(index){
                    layer.close(index);
                });
                return false;
            }
        }

        function complete(data){
            if(data.code==1){
                layer.msg(data.msg, {icon: 6,time:1500,shade: 0.1}, function(index){
                    window.location.href="{:url('Marketing/scene')}";
                });
            }else{
                layer.msg(data.msg, {icon: 5,time:1500,shade: 0.1});
                return false;   
            }
        }
    });

    //IOS开关样式配置
   var elem = document.querySelector('.js-switch');
        var switchery = new Switchery(elem, {
            color: '#1AB394'
        });
    var config = {
        '.chosen-select': {},                    
    }
    for (var selector in config) {
        $(selector).chosen(config[selector]);
    }

</script>
</body>
</html>