{include file="public/header" /}
<body >
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
                <div class="ibox-content" style="border: 0px">
                    <form class="form-horizontal" name="activityAxs" id="activityAxs"  method="post" action="{:url('activity_axs')}">
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">选择参加安心送的产品：</label>
                            <div class="input-group col-sm-8">
                                {foreach name="$activityList" item="v"}
                                    <div class="panel panel-default">
                                        <div class="panel-heading">{$v.name}</div>
                                        <div class="panel-body">
                                            {foreach name="$v.goods" item="vv"}
                                            <div class="checkbox i-checks">
                                                <input type="checkbox" name='goods_id[]' value="{$vv.goods_id}" {in name="$vv.goods_id" value="$axs_goods"}checked{/in}/>{$vv.goods_name}
                                            </div>
                                            {/foreach}
                                        </div>
                                    </div>
                                {/foreach}
                            </div>
                        </div>

                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-3">
                                <input type="hidden" name="storeid" value="{$storeid}">
                                <button class="btn btn-primary" type="submit"><i class="fa fa-save"></i> 保存</button>&nbsp;&nbsp;&nbsp;
                                <button class="btn btn-danger" type="button" onclick="layer_close()"><i class="fa fa-close"></i> 关闭</button>&nbsp;&nbsp;&nbsp;
                            </div>
                        </div>
                    </form>
                </div>
        </div>
    </div>
</div>
{include file="public/footer" /}
<script>
    var index1 = parent.layer.getFrameIndex(window.name); //获取窗口索引
    //提交
    $(function(){
        $('#activityAxs').ajaxForm({
            beforeSubmit: checkForm,
            success: complete,
            dataType: 'json'
        });

        function checkForm(){

        }

        function complete(data){
            if(data.code==1){
                layer.msg(data.msg, {icon: 6,time:1500,shade: 0.1}, function(index){
                    window.location.reload();
                });
            }else{
                layer.msg(data.msg, {icon: 5,time:1500,shade: 0.1});
                return false;
            }
        }
    });



    function layer_close() {
        parent.layer.close(index1);
    }

    //IOS开关样式配置
    var elem = document.querySelector('.js-switch');
    var switchery = new Switchery(elem, {
        color: '#1AB394'
    });
    var config = {
        '.chosen-select': {},
    }
    for (var selector in config) {
        $(selector).chosen(config[selector]);
    }
</script>
</body>
</html>