{include file="public/header" /}
<link rel="stylesheet" type="text/css" href="/static/admin/webupload/webuploader.css">
<link rel="stylesheet" type="text/css" href="/static/admin/webupload/style.css">
<style>
    .file-item{float: left; position: relative; width: 110px;height: 110px; margin: 0 20px 20px 0; padding: 4px;}
    .file-item .info{overflow: hidden;}
    .uploader-list{width: 100%; overflow: hidden;}
</style>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>添加活动信息</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="form_basic.html#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <form class="form-horizontal" name="activityAction" id="activityAction" method="post" action="{:url('activityAction')}">
                        <div class="form-group" >
                            <label class="col-sm-3 control-label">活动名称：</label>
                            <div class="input-group col-sm-4">
                                <select class="form-control m-b chosen-select" name="sel_id" id="sel_id">
                                    {if !empty($lists)}
                                    {foreach name="lists" item="vo"}
                                    <option value="{$vo.id}" {if condition="$sel_id eq $vo['id']"}selected{/if}>{$vo.name}</option>
                                    {/foreach}
                                    {/if}
                                </select>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">活动操作：</label>
                            <div class="col-sm-6">
                                <div class="radio i-checks">
                                    <input type="radio" name='activity_status' value="1" /> 全部门店开&nbsp;&nbsp;
                                    <input type="radio" name='activity_status' value="2" /> 全部门店关&nbsp;&nbsp;
                                    <input type="radio" name='activity_status' value="3" /> 部分门店开&nbsp;&nbsp;
                                    <input type="radio" name='activity_status' value="4" /> 部分门店关&nbsp;&nbsp;
                                </div>
                            </div>
                        </div>
                        <div id="show" style="display: none">
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">导入门店：</label>
                                <div class="input-group col-sm-4">
                                    <input type="file" name="myfile" id="myfile"  value="" >
                                    <span class="err"></span>
                                    <p class="notic" style="padding-top: 10px;">请上传.xlsx后缀的Excel文件，第一列为门店编码</p>
                                </div>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-3">
                                <button class="btn btn-primary" type="submit"><i class="fa fa-save"></i> 保存</button>&nbsp;&nbsp;&nbsp;
                                <a class="btn btn-danger" href="javascript:history.go(-1);"><i class="fa fa-close"></i> 返回</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
{include file="public/footer" /}
<script type="text/javascript">
    $(function(){
        $("input:radio[name='activity_status']").on('ifChecked', function(event){
            if($(this).val()==3 || $(this).val()==4){
                $('#show').show();
            }else{
                $('#show').hide();
            }
        });

        $('#activityAction').ajaxForm({
            beforeSubmit: checkForm,
            success: complete,
            dataType: 'json'
        });

        function checkForm(){
            // if( '' == $.trim($('#name').val())){
            //     layer.msg('请输入活动名称',{icon:2,time:1500,shade: 0.1}, function(index){
            //         layer.close(index);
            //     });
            //     return false;
            // }
        }


        function complete(data){
            if(data.code==1){
                layer.msg(data.msg, {icon: 6,time:1500,shade: 0.1}, function(index){
                    window.location.href="{:url('Missshop/activity_list')}";
                });
            }else{
                layer.msg(data.msg, {icon: 5,time:1500,shade: 0.1});
                return false;
            }
        }
     
    });


    //IOS开关样式配置
   var elem = document.querySelector('.js-switch');
        var switchery = new Switchery(elem, {
            color: '#1AB394'
        });
    var config = {
        '.chosen-select': {},                    
    }
    for (var selector in config) {
        $(selector).chosen(config[selector]);
    }

</script>
</body>
</html>
