{include file="public/header" /}
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>登录信息</h5>
                </div>
                <div class="ibox-content">
                    <form class="form-horizontal m-t" name="add" id="add" method="post" action="message">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">发送短信：</label>
                            <div class="input-group col-sm-4">
                                <div class="radio i-checks">
                                <input type="radio" name='price' value="0" {if condition="$a_config['price'] eq 0 "}checked{/if}/>未发&nbsp;&nbsp;
                                <input type="radio" name='price' value="1" {if condition="$a_config['price'] eq 1 "}checked{/if}/>已发
                                </div>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-3">
                                <button class="btn btn-primary" type="submit"><i class="fa fa-save"></i> 确定</button>&nbsp;&nbsp;&nbsp;
                                <a class="btn btn-danger" href="javascript:history.go(-1);"><i class="fa fa-close"></i> 返回</a>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="ibox-content">
                    <a class="btn btn-info" href="{:url('message_action',['role'=>1])}"><i class="fa fa-download"></i> 店老板</a>
                    <a class="btn btn-info" href="{:url('message_action',['role'=>2])}"><i class="fa fa-download"></i> 美容师</a>
                    <a class="btn btn-info" href="{:url('message_action',['role'=>0])}"><i class="fa fa-download"></i> 顾客</a>
                </div>
            </div>
        </div>
    </div>
</div>
{include file="public/footer" /}
<script type="text/javascript">

    $(function(){
        $('#add').ajaxForm({
            beforeSubmit: checkForm, // 此方法主要是提交前执行的方法，根据需要设置
            success: complete, // 这是提交后的方法
            dataType: 'json'
        });

        function checkForm(){


     }

        function complete(data){
            if(data.code == 1){
                layer.msg(data.msg, {icon: 6,time:1500,shade: 0.1}, function(index){
                    layer.close(index);
                    window.location.href="{:url('message')}";
                });
            }else{
                layer.msg(data.msg, {icon: 5,time:1500,shade: 0.1}, function(index){
                    layer.close(index);
                });
                return false;
            }
        }
    });


    //IOS开关样式配置
   var elem = document.querySelector('.js-switch');
        var switchery = new Switchery(elem, {
            color: '#1AB394'
        });
    var config = {
        '.chosen-select': {},
    }
    for (var selector in config) {
        $(selector).chosen(config[selector]);
    }


</script>
</body>
</html>
