{include file="public/header"/}

<body class="gray-bg">
<div class="wrapper wrapper-content">
    <!-- 中间折线 -->
    <div class="row">
        <div class="col-sm-12">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <i class="fa fa-cogs"></i> 系统信息
                    </div>
                    <div class="panel-body">
                        <p><i class="fa fa-sitemap"></i> 框架版本：ThinkPHP{$info.think_v}
                        </p>
                        <p><i class="fa fa-windows"></i> 服务环境：{$info.web_server}
                        </p>
                        <p><i class="fa fa-warning"></i> 上传附件限制：{$info.onload}
                        </p>
                        <p><i class="fa fa-credit-card"></i> PHP 版本：{$info.phpversion}
                        </p>
                    </div>
                </div>
        </div>
    </div>

</div>

{include file="public/footer" /}

</body>
</html>