{include file="public/header" /}
<body class="gray-bg">
<link rel="stylesheet" type="text/css" href="/static/admin/webupload/webuploader.css">
<link rel="stylesheet" type="text/css" href="/static/admin/webupload/style.css">
<style>
    .file-item{float: left; position: relative; width: 110px;height: 110px; margin: 0 20px 20px 0; padding: 4px;}
    .file-item .info{overflow: hidden;}
    .uploader-list{width: 100%; overflow: hidden;}
    .imgPicker{
        width: 50px;
    }
    .webuploader-pick{
        padding: 0;
    }
    .webuploader-pick img{width: 100%}
    th span{
        float: right;
        cursor: pointer;
    }
</style>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>鼠卡配置</h5>
                </div>
                <div class="ibox-content">
                    <form class="form-horizontal m-t" name="addrat" id="addrat" method="post" action="addrat">
                        <input type="hidden" name="id" value="{$a_config['id']}">
                        <input type="hidden" name="cid" value="{$a_config['cid']}">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">所属活动：</label>
                            <div class="input-group col-sm-4">
                                <select name="cid" id="cid" class="form-control chosen-select" data-placeholder="请选择活动">
                                    <option value="">请选择活动</option>
                                    {volist name="activity" id="v"}
                                    <option value="{$v.id}" {if condition="$a_config['cid'] eq $v['id'] "}selected{/if}>{$v.name}</option>
                                    {/volist}
                                </select>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">类型：</label>
                            <div class="input-group col-sm-4">
                                <div class="radio i-checks">
                                    <input type="radio" name='type' value="0" {if condition="$a_config['type'] eq 0 "}checked{/if}/>普通卡&nbsp;&nbsp;
                                    <input type="radio" name='type' value="1" {if condition="$a_config['type'] eq 1 "}checked{/if}/>合成卡
                                </div>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">鼠卡名称：</label>
                            <div class="col-sm-6" style="padding-left: 0px;">
                                <input type="text" name="name" id="name" value="{$a_config['name']}"  class="form-control" />
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">卡数量：</label>
                            <div class="col-sm-6" style="padding-left: 0px;">
                                <input type="number" name="number" id="number" value="{$a_config['number']}"  class="form-control" />
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">点亮鼠卡：</label>
                            <div class="col-sm-6 input-group" style="padding-left: 0px;">
                                <img src="{$a_config['thumb']|default='/static/admin/images/bg.png'}"
                                     id="up_img1" width="50" height="50" onerror="this.src='/static/admin/images/bg.png'">
                                <input type='hidden' name='thumb' id="up_img_url1" value="{$a_config['thumb']}">　
                                <button type='button' id="1" class='layui-btn  layui-btn-xs demoMore' >
                                    <i class='layui-icon'>&#xe64a;</i>上传
                                </button>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">未点亮鼠卡：</label>
                            <div class="col-sm-6 input-group" style="padding-left: 0px;">
                                <img src="{$a_config['thumb1']|default='/static/admin/images/bg.png'}"
                                     id="up_img0" width="50" height="50" onerror="this.src='/static/admin/images/bg.png'">
                                <input type='hidden' name='thumb1' id="up_img_url0" value="{$a_config['thumb1']}">　
                                <button type='button' id="0" class='layui-btn  layui-btn-xs demoMore' >
                                    <i class='layui-icon'>&#xe64a;</i>上传
                                </button>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">鼠卡描述：</label>
                            <div class="col-sm-6 input-group" style="padding-left: 0px;">
                                <textarea class="form-control" name="intro" id="" cols="30" rows="10">{$a_config['intro']}</textarea>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-3">
                                <button class="btn btn-primary" type="submit"><i class="fa fa-save"></i> 确定</button>&nbsp;&nbsp;&nbsp;
                                <a class="btn btn-danger" href="javascript:history.go(-1);"><i class="fa fa-close"></i> 返回</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{include file="public/footer" /}
<link rel="stylesheet" href="https://www.layuicdn.com/layui/css/layui.css"  media="all">
<script src="https://www.layuicdn.com/layui-v2.5.5/layui.js" charset="utf-8"></script>
<script type="text/javascript">
    layui.use(['form','upload'],function(){
        var $ = layui.jquery,upload = layui.upload;
        upload.render({
            elem: '.demoMore'
            ,url: "{:url('Upload/upload')}"
            ,before: function(){
            }
            ,done: function(res, index, upload){
                console.log(res);
                var item = this.item;
                console.log(item);
                console.log(index);
                var getId=item.context.id;
                console.log(getId);
                $('#up_img'+getId).attr('src',res.data);
                $('#up_img_url'+getId).val(res.data);
            }
        })
    });
</script>
<script type="text/javascript">

    $(function(){
        $('#addrat').ajaxForm({
            beforeSubmit: checkForm, // 此方法主要是提交前执行的方法，根据需要设置
            success: complete, // 这是提交后的方法
            dataType: 'json'
        });

        function checkForm(){


        }

        function complete(data){
            if(data.code == 1){
                layer.msg(data.msg, {icon: 6,time:1500,shade: 0.1}, function(index){
                    layer.close(index);
                    window.location.href="{:url('ratcard')}";
                });
            }else{
                layer.msg(data.msg, {icon: 5,time:1500,shade: 0.1}, function(index){
                    layer.close(index);
                });
                return false;
            }
        }
    });


    //IOS开关样式配置
    var elem = document.querySelector('.js-switch');
    var switchery = new Switchery(elem, {
        color: '#1AB394'
    });
    var config = {
        '.chosen-select': {},
    }
    for (var selector in config) {
        $(selector).chosen(config[selector]);
    }


</script>
</body>
</html>
