{include file="public/header" /}
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <!-- Panel Other -->
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>卡片列表</h5>
        </div>
        <div class="ibox-content">
            <!--搜索框开始-->
            <div class="row">
                <div class="col-sm-12">
                    <form name="admin_list_sea" class="form-search form-inline" method="post" action="{:url('card')}">
                        <div class="input-group">
                            <input type="text" id="key" class="form-control" name="key" value="{$val}"
                                   placeholder="输入需查询的门店" />
                            <span class="input-group-btn">
                                    <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i> 搜索</button>
                                </span>
                        </div>
                    </form>
                </div>
            </div>
            <!--搜索框结束-->
            <div class="hr-line-dashed"></div>

            <div class="example-wrap">
                <div class="example">
                    <table class="table table-bordered table-hover">
                        <thead>
                        <tr class="long-tr">
                            <th>ID</th>
                            <th>所属人</th>
                            <th>卡片编号</th>
                            <th>鼠卡名称</th>
                            <th>缩略图</th>
                            <th>状态</th>
                            <th>是否赠送</th>
                            <th>描述</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <script id="list-template" type="text/html">
                            {{# for(var i=0;i<d.length;i++){  }}
                            <tr class="long-td">
                                <td>{{d[i].id}}</td>
                                <td>{{d[i].realname}}{{d[i].mobile}}</td>
                                <td>{{d[i].cardno}} </td>
                                <td>{{d[i].name}} </td>
                                <td><img src="{{d[i].thumb}}" alt="" width="50"></td>
                                <td>
                                    {{# if(d[i].is_compose==1){ }}
                                    <a class="red" href="javascript:;" >
                                        <div id="zt{{d[i].id}}"><span class="label label-info">已合成</span></div>
                                    </a>
                                    {{# }else{ }}
                                    <a class="red" href="javascript:;" >
                                        <div id="zt{{d[i].id}}"><span class="label label-danger">未合成</span></div>
                                    </a>
                                    {{# } }}
                                </td>
                                <td>{{d[i].is_give}} </td>
                                <td>{{d[i].intro}} </td>
                                <td>
                                    <button class="btn btn-xs btn-info logs" data-uid="{{d[i].uid}}" data-code="{{d[i].cardno}}">日志</button>
                                </td>
                            </tr>
                            {{# } }}
                        </script>
                        <tbody id="list-content"></tbody>
                    </table>
                    <div id="AjaxPage" style=" text-align: right;"></div>
                    <div id="allpage" style=" text-align: right;"></div>
                </div>
            </div>
            <!-- End Example Pagination -->
        </div>
    </div>
</div>
<!-- End Panel Other -->
</div>

<!-- 加载动画 -->
<div class="spiner-example">
    <div class="sk-spinner sk-spinner-three-bounce">
        <div class="sk-bounce1"></div>
        <div class="sk-bounce2"></div>
        <div class="sk-bounce3"></div>
    </div>
</div>

{include file="public/footer" /}

<script type="text/javascript">
    //laypage分页
    Ajaxpage();
    function Ajaxpage(curr){
        var key=$('#key').val();
        var store_id=$('#store_id').val();
        var is_custom=$('#is_custom').val();
        var count="{$count}";
        $.getJSON('{:url("blinkbox/card")}', {page: curr || 1,key:key,store_id:store_id,is_custom:is_custom},
            function(data){
                $(".spiner-example").css('display','none'); //数据加载完关闭动画
                if(data==''){
                    $("#list-content").html('<td colspan="20" style="padding-top:10px;padding-bottom:10px;font-size:16px;text-align:center">暂无数据</td>');
                }else{
                    var tpl = document.getElementById('list-template').innerHTML;
                    laytpl(tpl).render(data, function(html){
                        document.getElementById('list-content').innerHTML = html;
                    });
                    laypage({
                        cont: $('#AjaxPage'),//容器。值支持id名、原生dom对象，jquery对象,
                        pages:'{$allpage}',//总页数
                        skip: true,//是否开启跳页
                        skin: '#1AB5B7',//分页组件颜色
                        curr: curr || 1,
                        groups: 3,//连续显示分页数
                        jump: function(obj, first){
                            if(!first){
                                Ajaxpage(obj.curr)
                            }
                            $('#allpage').html('第'+ obj.curr +'页/共'+ obj.pages +'页，总计'+count+'条记录');
                        }
                    });
                }
            });
    }

    //分享日志
    $(document).on('click','.logs',function () {
        code = $(this).data('code');
        uid = $(this).data('uid');
        console.log(code)
        layer.open({
            type: 2,
            area: ['768px', '600px'],
            fixed: false, //不固定
            maxmin: true,
            content: '{:url("blinkbox/share")}?uid='+uid+'&code='+code
        });
    });


    var config = {
        '.chosen-select': {},
    };
    for (var selector in config) {
        $(selector).chosen(config[selector]);
    }

</script>
</body>
</html>
