{include file="public/header" /}
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <!-- Panel Other -->
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>盲盒申请列表</h5>
        </div>
        <div class="ibox-content">
            <!--搜索框开始-->
            <div class="row">
                <div class="col-sm-12">
                    <form name="admin_list_sea" class="form-search form-inline" method="post" action="{:url('apply')}">
                        <div class="col-sm-4">
                            <div class="input-group"  style="margin-bottom: 5px;">
                                <select class="form-control chosen-select" name="status" id="status" data-placeholder="请选择状态">
                                    <option value="88"  {if condition="$status eq 88"}selected{/if}>请选择状态</option>
                                    <option value="0"  {if condition="$status eq 0"}selected{/if}>未处理</option>
                                    <option value="1"  {if condition="$status eq 1"}selected{/if}>已处理</option>
                                </select>
                            </div>
                            <div class="input-group">
                                <input type="text" id="key" class="form-control" name="key" value="{$val}" placeholder="输入需查询的手机号码" />
                                <span class="input-group-btn">
                                    <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i> 搜索</button>
                                </span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!--搜索框结束-->
            <div class="hr-line-dashed"></div>

            <div class="example-wrap">
                <div class="example">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr class="long-tr">
                                <th>ID</th>
                                <th>申请电话</th>
                                <th>用户名</th>
                                <th>门店编码</th>
                                <th>门店名称</th>
                                <th>用户角色</th>
                                <th style="width: 200px">设备信息</th>
                                <th>是否开通</th>
                                <th>状态</th>
                                <th width="15%">申请时间</th>
                            </tr>
                        </thead>
                        <script id="list-template" type="text/html">
                            {{# for(var i=0;i<d.length;i++){  }}
                                <tr class="long-td">
                                    <td>{{d[i].id}}</td>
                                    <td>{{d[i].mobile}}</td>
                                    <td>{{d[i].realname}}</td>
                                    <td>{{d[i].sign}}</td>
                                    <td>{{d[i].title}}</td>
                                    <td>{{d[i].role}}</td>
                                    <td style="width: 200px">
                                        {{# if(d[i].equipment){ }}
                                        <code>
                                            <span>厂家：{{d[i].equipment['brand']}}</span>
                                            <span>机型：{{d[i].equipment['model']}}</span>
                                            <span>系统：{{d[i].equipment['platform']}}</span>
                                            <span>系统版本：{{d[i].equipment['system']}}</span>
                                            <span>微信版本：{{d[i].equipment['version']}}</span>
                                            <span>SDKVersion：{{d[i].equipment['SDKVersion']}}</span>
                                        </code>
                                        {{# } }}
                                    </td>
                                    <td>
                                        {{# if(d[i].is_blink == 1){ }}
                                        <a href="javascript:;" >
                                            <div ><span class="label label-info">已开通</span></div>
                                        </a>
                                        {{# }else if(d[i].is_blink == 0 ){ }}
                                        <a href="javascript:;" >
                                            <div ><span class="label label-danger">未开通</span></div>
                                        </a>
                                        {{# } }}
                                    </td>
                                    <td {{d[i].status}}>
                                            {{# if(d[i].status==1){ }}
                                                <a href="javascript:;" onclick="applyState({{d[i].id}});">
                                                    <div id="zt{{d[i].id}}"><span class="label label-info">已处理</span></div>
                                                </a>
                                            {{# }else{ }}
                                                <a href="javascript:;" onclick="applyState({{d[i].id}});">
                                                    <div id="zt{{d[i].id}}"><span class="label label-danger">未处理</span></div>
                                                </a>
                                            {{# } }}
                                    </td>
                                    <td>{{d[i].insert_time}}</td>
                                </tr>
                            {{# } }}
                        </script>
                        <tbody id="list-content"></tbody>
                    </table>
                    <div id="AjaxPage" style=" text-align: right;"></div>
                    <div id="allpage" style=" text-align: right;"></div>
                </div>
            </div>
            <!-- End Example Pagination -->
        </div>
    </div>
</div>
<!-- End Panel Other -->
</div>

<!-- 加载动画 -->
<div class="spiner-example">
    <div class="sk-spinner sk-spinner-three-bounce">
        <div class="sk-bounce1"></div>
        <div class="sk-bounce2"></div>
        <div class="sk-bounce3"></div>
    </div>
</div>
{include file="public/footer" /}


<script type="text/javascript">
    //laypage分页
    Ajaxpage();
    function Ajaxpage(curr){
        var key=$('#key').val();
        var status=$('#status').val();
        $.getJSON('{:url("blinksms/apply")}', {page: curr || 1,key:key,status:status}, function(data){
            $(".spiner-example").css('display','none'); //数据加载完关闭动画
            if(data==''){
                $("#list-content").html('<td colspan="20" style="padding-top:10px;padding-bottom:10px;font-size:16px;text-align:center">暂无数据</td>');
            }else{
                var tpl = document.getElementById('list-template').innerHTML;
                laytpl(tpl).render(data, function(html){
                    document.getElementById('list-content').innerHTML = html;
                });
                laypage({
                    cont: $('#AjaxPage'),//容器。值支持id名、原生dom对象，jquery对象,
                    pages:'{$allpage}',//总页数
                    skip: true,//是否开启跳页
                    skin: '#1AB5B7',//分页组件颜色
                    curr: curr || 1,
                    groups: 3,//连续显示分页数
                    jump: function(obj, first){
                        if(!first){
                            Ajaxpage(obj.curr)
                        }
                        $('#allpage').html('第'+ obj.curr +'页，共'+ obj.pages +'页');
                    }
                });
            }
        });
    }


    //改变申请状态
    function applyState(id){
            var url='{:url('blinksms/applyState')}';
            $.post(url,{id:id},function(data){
                if(data.code==1){
                    var a='<span class="label label-danger">未处理</span>'
                    $('#zt'+id).html(a);
                    layer.msg(data.msg,{icon:2,time:1500,shade: 0.1,});
                    return false;
                }else{
                    var b='<span class="label label-info">已处理</span>'
                    $('#zt'+id).html(b);
                    layer.msg(data.msg,{icon:1,time:1500,shade: 0.1,});
                    return false;
                }
            });
            return false;
    }

    var config = {
        '.chosen-select':{}
    };
    for(var selector in config){
        $(selector).chosen(config[selector]);
    }
</script>
</body>
</html>
